/* Base element styles */

body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-tight);
}

h3 {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
}
